.chip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 5px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

@media (max-width: 768px) {
    .chip img {
        display: none;
    }

    .chip {
        background-color: #ffffff;
    }

    #image-container {
    }
}

#image-container img {
    width: 150px;
    height: 150px;
}

.deleteImageBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
